* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: black;
  line-height: 1.6;
}

button {
  color: white;
  background-color: #555555;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px 32px;
}

.main {
  text-align: center;
  width: 100%;
  height: 100%;
}

.main h1 {
  font-size: 10vw;
  line-height: 1.2;
  font-weight: bolder;
}

.search-form #search {
  font-size: 20px;
  width: 50%;
  height: 32px;
}

.photo-container {
  float: left;
  margin: 1.5%;
  background: whitesmoke;
  width: 17%;
  height: 160px;
  box-shadow: 5px 10px 10px gray;
}

.photo-container:hover {
  cursor: pointer;
}

.photo-container img {
  max-width: 70%;
  max-height: 90%;
  padding: 10px;
  position: relative;
  width: 30vw;
  height: 30vh;
  object-fit: contain;
}

.pagination {
  display: none;
  text-align: center;
}

.pagination button {
  margin: 10px auto;
}

.modal-container {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
}
.modal-container img {
  width: 400px;
  height: 296px;
  background-color: white;
  border-radius: 4px;
}

.close-button {
  position: absolute;
  top: 0;
  font-size: 22px;
  cursor: pointer;
  border: 2px solid black;
  background-color: gray;
}

@media screen and (max-width: 768px) {
  .photo-container {
    width: 45%;
  }
}

@media screen and (max-width: 640px) {
  .modal-container img {
    width: 372px;
  }
}
